<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555072854967-p652q1kbsmn9bv9scrgkaa0q4s83t5gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555072854967-p652q1kbsmn9bv9scrgkaa0q4s83t5gb</string>
	<key>API_KEY</key>
	<string>AIzaSyC5d5oxaW68IAG0fV4KIcw03Q-gGdmEYBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>555072854967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericyang.KCM-test</string>
	<key>PROJECT_ID</key>
	<string>kcmapp-ff431</string>
	<key>STORAGE_BUCKET</key>
	<string>kcmapp-ff431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555072854967:ios:8a6827c6e1cb6184552632</string>
</dict>
</plist>